<!DOCTYPE html>
<html lang="jp">
<head>
	<style>
		body{
		background: #eeeeee;
    		}
	</style>
</head>
<body>
	<div>
		<link rel="stylesheet" href="./../static/h1.css">
		<h1 style="font-size: 2.5em">テストデータを入力して下さい</h1>
		<form action="/answer" method="POST" enctype="multipart/form-data">
			<btn2>
				<link rel="stylesheet" type="text/css" href="./../static/btn2.css">
				<input type="file" name="csv_file">
				<input type=submit value="推論結果をダウンロード">
			</btn2>
		</form>
	</div>
</body>
</html>
